@model IEnumerable<WebAppProj.Models.instructor>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.firstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.internship)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pathPic)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.firstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.internship)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pathPic)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.instructorId }) |
            @Html.ActionLink("Details", "Details", new { id=item.instructorId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.instructorId })
        </td>
    </tr>
}

</table>
